* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #F0EBF8;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #673AB7;
  height: 140px;
  padding: 20px;
}

.header h3 {
  color: #fff;
}

.form-container {
  position: relative;
  top: -66px;
  background-color: #fff;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.form-header {
  border-bottom: 2px solid #ddd;
  height: 45px;
}

.form-header p {
  color: #673AB7;
  border-bottom: 2px solid #673AB7;
  height: 46px;
  width: 100px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
}

.form-body {
  padding: 30px;
}

.form-body p {
  margin: 15px 0px 15px 0px;
}

.form-title {
  margin: 0;
}

.required-field {
  color: red;
}

.box-input {
  margin-bottom: 60px;
  padding: 15px 0px 10px 0px;
}

.block {
  display: block;
}

input {
  border-style: none;
  border-bottom: 1px solid #bbb;
  padding: 10px 0px;
  width: 60%;
}

#purchase_date {
  background-color: #ddd;
}

.optional_box {
  display: inline-block;
}

.optional_list {
  list-style: none;
  margin-left: 0px;
}

.btn-submit {
  background-color: #673AB7;
  color: #fff;
  border: 2px solid #673AB7;
  text-transform: uppercase;
}

.btn-submit:hover {
  background-color: #fff;
  color: #673AB7;
  transition: 0.5s;
}