@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebebeb;
}

header {
  background-color: rgb(105, 2, 214);
  height: 165px;
  color: #fff;
}

header h3 {
  padding: 20px;
}

main {
  width: 70%;
  background-color: #fff;
  margin: auto;
  position: relative;
  top: -50px;
}

.cabecalho {
  border-bottom: 2px solid #ddd;
  color: rgb(105, 2, 214);
  height: 49px;
}

.title1 {
  text-align: center;
  border-bottom: 2px solid rgb(105, 2, 214);
  width: 100px;
  height: 49px;
  margin: auto;
  text-transform: uppercase;
  line-height: 49px;
}

.conteudo {
  padding: 25px;
}

.conteudo h1 {
  margin-bottom: 15px;
}

.conteudo p {
  margin: 15px 0px;
}

span {
  color: red;
}

.bloco {
  display: block;
  padding: 10px 0px;
  margin-bottom: 25px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bbb;
}

textarea {
  display: block;
  width: 100%;
}

textarea::placeholder {
  padding: 10px;
}

#unico-dono {
  margin: 30px 0px;
}

.radio {
  margin-bottom: 50px;
}

ul {
  list-style: inside;
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

.botao {
  background-color: rgb(105, 2, 214);
  padding: 15px 40px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}

.botao:hover {
  background-color: #fff;
  border: 1px solid rgb(105, 2, 214);
  color: #000;
  transition: 0.5s;
}